.content-list4-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.content-list4-max-width {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
}
 
.content-list4-content1 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list4-ul1 {
  align-items: flex-start;
}
 
.content-list4-li1 {
  align-items: flex-start;
}
 
.content-list4-heading7 {
  align-self: center;
  text-align: center;
}
 
.content-list4-content7 {
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list4-ul2 {
  align-items: flex-start;
  padding-left: 80px;
}
 
.content-list4-content2 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list4-ul3 {
  align-items: flex-start;
}
 
.content-list4-content3 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list4-ul4 {
  align-items: flex-start;
}
 
.content-list4-li4 {
  align-items: flex-start;
}
 
.content-list4-heading10 {
  align-self: center;
  text-align: center;
}
 
.content-list4-content10 {
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list4-ul5 {
  align-items: flex-start;
  padding-left: 80px;
}
 
.content-list4-text10 {
  display: inline-block;
}
 
.content-list4-text11 {
  display: inline-block;
}
 
.content-list4-text12 {
  display: inline-block;
}
 
.content-list4-text13 {
  display: inline-block;
}
 
.content-list4-text14 {
  display: inline-block;
}
 
.content-list4-text15 {
  display: inline-block;
}
 
.content-list4-text16 {
  display: inline-block;
}
 
.content-list4-text17 {
  display: inline-block;
}
 
.content-list4-text18 {
  display: inline-block;
}
 
.content-list4-text19 {
  display: inline-block;
}
 
.content-list4-text20 {
  display: inline-block;
}
 
.content-list4-text21 {
  display: inline-block;
}
 
.content-list4-text22 {
  display: inline-block;
}
 
.content-list4-text23 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .content-list4-ul2 {
    padding-left: 48px;
  }
  .content-list4-ul5 {
    padding-left: 48px;
  }
}
 
@media(max-width: 479px) {
  .content-list4-ul2 {
    padding-left: 24px;
  }
  .content-list4-ul5 {
    padding-left: 24px;
  }
}
